@import "./layout.scss";
@import "./components/buttons.scss";
@import "./components/form.scss";
@import "./components/post.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(33, 33, 33);
  --primary-color: rgb(156, 70, 236);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: rgb(128, 45, 207);
}
